$body-colour: rgba(255, 255, 255, 0.966);
$border-colour: rgba(165, 165, 165, 0.192);

@mixin centerAll() {
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

@mixin standardBorder() {
  border: 1px solid rgba(160, 160, 160, 0.151);
  border-radius: 5px;
}
