#nav {
  background-color: #147eff33;
  grid-row: 1;
  grid-column: 1 / -1;
  // @include standardBorder;
  display: grid;
  align-items: center;
  padding: 0.5rem;
  height: 30px;
  ul {
    display: grid;
    grid-template-columns: 50px 50px 10fr 50px 50px;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 14px;
    margin: 0 1rem 0 1rem;
    
  }
  button {
    border: none;
    background-color: none;
    background: none;
  }
}

#nav > ul > li:nth-child(1) {
  grid-column: 1;
}

#nav > ul > li:nth-child(2) {
  grid-column: 2;
}
#nav > ul > li:nth-child(3) {
  grid-column: 5;
  justify-self: flex-end;
}

#nav > ul > li:nth-child(4) {
  border-left: 1px solid grey;
  padding-left: 10px;
  grid-column: 3;
  grid-row: 1;
}
