@import '_mixins_variables';

.todo {
    border: 1px solid $border-colour;
    height: 30px;
    background-color: white;
    width: 100%;
}

#todo-container {
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: start;
    height: fit-content;

    padding: 2rem;
    width: 100%;
}

#todo-container > div:nth-child(1) {
    border-top: 1px solid $border-colour;
    padding-top: 10px;
}

.new-todo-div {
    display: grid;
    grid-template-columns: 20px 48px 1fr 1fr 25px;
    grid-template-rows: 1fr 1fr;    
    padding: 0.2rem;
    align-items: center;
    border-bottom: 1px $border-colour solid;
        span {

            justify-self: end;

            button {
            appearance: none;
            border: none;
            background-color: white;
            color: red;
                }

        }
}

#display-title {
    grid-row: 1;
    grid-column: 3;
    font-size: 16px;
    color: rgb(48, 47, 47);
    font-family: monospace !important;
}
#display-description {
    color: rgb(88, 88, 88);
    font-size: 11px;
    font-family: monospace;
    grid-row: 2;
    grid-column: 3;
}


#new-todo-div > span::before {
    content: "Due";
    color: gray;
}

#delete-todo {
    grid-row: 1;
    grid-column: 5;  
    display: flex;
    justify-self: end;
    border-radius: 5px;
    color: grey;
    border: none;
    background: white;
    text-align: right;
    padding: 0;
}

#date { 
grid-row: 1;
    grid-column: 4;
    button {
        font-family: monospace;
        font-size: 12px;
    }   
}

#pri-element {
    grid-row: 2;
    grid-column: 5;
    justify-self: flex-end;
    align-self: center;
    font-family: monospace;
    color: rgb(148, 144, 144);
}

.green::after,
.orange::after,
.red::after {
    padding: 0;
    display: flex;
    content: ' ';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: -5;
}

.green::after {
    background-color: rgba(128, 252, 128, 0.493);
}

.orange::after {
    background-color: rgb(255, 202, 103);
}

.red::after { 
    background-color: rgba(253, 104, 104, 0.699);  
}
#proj-element {
    grid-row: 2;
    grid-column: 4;
    font-family: monospace;
    color: gray;
    justify-self: flex-end;
}
#checkbox {
    width:25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(117, 117, 247, 0.678);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }
  #checkbox:checked {
    appearance: none;
    clip-path: circle(50% at 50% 50%);
    background-color: rgba(117, 117, 247, 0.678)  !important;
  }