/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import '_meyer_reset';
@import '_main_content';
@import '_mixins_variables';
@import '_new_todo_modal';
@import '_todo_container';
@import '_nav';

body {
  @include standardBorder;
  background-color: $body-colour;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 46px 14fr;
  height: 100vh;
  width: 100vw;
}

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

label {
  visibility: hidden;
}

h2 {
  font-size: 18px;
  font-family: monospace;
}

button:hover {
  cursor: pointer
}

#sidebar {
  // @include standardBorder;
  background-color: rgba(128, 255, 234, 0.048);
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.5rem;
  min-width: 230px;
  ul {
    display: grid;
    gap: 20px;
    height: fit-content;
  }
  ul > li {
    border-bottom: 1px solid $border-colour;
  }
  h2 {
    grid-column: 1;
  }
  button {
    border: none;
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 70px;
    // margin-left: 100px;
    justify-self: end;
    background: none;
  }
}

#hamburger-menu-btn > img,
#new-todo-nav-btn > img,
#new-project-btn > img {
  width: 30px;
  filter: drop-shadow(rgb(250, 250, 250) 1px 1px 1px);
}
