/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import '_meyer_reset';
@import '_main_content';
@import '_mixins_variables';
@import '_new_todo_modal';
@import '_todo_container';
@import '_nav';

body {
  background-color: $body-colour;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 46px 14fr;
  height: 100vh;
  width: 100vw;
}

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

label {
  visibility: hidden;
}

h2 {
  font-size: 18px;
  font-family: monospace;
}

button:hover, .button:hover {
  cursor: pointer
}

#sidebar {
  // @include standardBorder;
  border-right: 1px solid $border-colour;
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr;
  padding: 1.5rem;
  min-width: 230px;

  ul {
    display: grid;
    gap: 20px;
    height: fit-content;
    align-self: flex-start;
  }
  ul > li {
    border-bottom: 1px solid $border-colour;
  }
  h2 {
    grid-column: 1;
  }
  button {
    border: none;
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    // margin-left: 100px;
    justify-self: end;
    align-self: flex-start;
    background: none;
  }
}

#hamburger-menu-btn > img,
#new-todo-nav-btn > img,
#new-project-btn > img {
  width: 30px;
  filter: drop-shadow(rgb(250, 250, 250) 1px 1px 1px);
}

.active-page  {
  @include standardBorder;

  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
}


@media screen and (max-width:1000px) {
  #sidebar {
    display: none;
    z-index: 1;
    background-color: white;

  }
  #main-content {
    grid-column: 1 / span 2;
    width: 90%;
    padding: 2rem;

    justify-items: center;
    justify-content: center;
    align-content: center;
  }
  .modal {
    margin: auto;
    top: 5%;
    width: 100%;
    margin-left: 2%;
    z-index: 10;
    
  }
  .modal > form {
    width: 90%;
  }

  
}



@media screen and (max-width:700px) {
  #nav {
  width: 110%;
   justify-self: center;
  ul > li {
  margin: 0;
  font-size: 0.6rem;
  img {
    width: 25px;
  }
}
  }
  #sidebar > ul:nth-child(1) > li,
  #projects > ul >li {
    font-size: 0.8rem;
  } 

  #projects-title > h2 {
    font-size: 0.9rem;
  }


  #main-content {
    font-size: 0rem;
    
    .new-todo-div > #display-title{
      font-size: 0.7rem;
      margin-top: 10px;
    }
    #week {
      font-size: 0.8rem;

    }

  }
  .modal > form {
    #title-input::placeholder,
    #project-title::placeholder{
      font-size: 0.9rem;
    }
    
    #description-input::placeholder,
    #project-description::placeholder {
      font-size: 0.7 !important;
    }
  }
  .modal > form > input,
  input::placeholder {
    width: fit-content;
  }
   select, 
   .modal > form > #save-todo,
   .modal > form >#save-project {
      font-size: 0.6rem;
    width: 5.5rem;
    height: 2rem;
    padding: 0;
  }
  #input-date {
    width: 60px;
  }

}