<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link src="./style.scss">
    <title>Todo List</title>
</head>
<body>
    <div id="wrapper">
       
            <nav id="nav"> 
                <ul>
                    <li><div id="hamburger-menu-btn"></div></li>
                    <li><span><a href="#">Inbox</a></span></li>
                    <li><span><button id="new-todo-nav-btn" class ="new-todo"></button></span></li>
                    <li><span><a href="#">Todo</a></span></li>
                </ul>
            </nav>
      
      
            <div id="sidebar">
                <ul>
                    <li><span><a href="#">Today</a></span></li>
                    <li><span><a href="#">Upcoming</a></span></li>
                    <h2>Projects</h2>
                    <li><span><a href="#">Personal</a></span></li>
                    <li><span><a href="#">Work</a></span></li>
                    <li><span><a href="#">High Priority</a></span></li>
                </ul>
            </div>
      
   
            <div id="main-content">

                <div id="week">

                <div id="todo-container">
                    
                </div>
                </div>
            </div>
    </div>
</body>
</html>